# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why. Ideally,
# link to other information that will help people in the future to remove the
# pin when possible. Writing an issue against the offending project and
# linking to it here is good.

# Use Django LTS.
django==5.2.9
django-model-utils==5.0.0
django-filter==25.2
djangorestframework==3.16.1
edx-django-utils==8.0.1

#edx
edx-opaque-keys==3.0.0
edx-drf-extensions==10.6.0


# Set pip-tools.in constraints.
pip-tools==7.5.2
wheel==0.45.1

# Avoid backports.zoneinfo when using python<'3.9'.
backports.zoneinfo;python_version<'3.9'

# Avoid astroid>3.2.4 when using python<'3.9'.
astroid<=3.3.11;python_version<'3.9'

#via edx-platform base.txt
asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==45.0.7
django-waffle==5.0.0
future==0.18.2
idna==3.11
psutil==7.1.3
pycparser==2.23
pycryptodomex==3.23.0
PyJWT>=1.6.3
pymongo==4.4.0
pynacl==1.6.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.4
stevedore==5.6.0
urllib3==2.6.2


# via edx-platform development.txt
anyio==4.12.0
astroid==3.3.11
attrs==25.4.0
chardet==5.2.0
coverage==7.13.0
dill==0.4.0
distlib==0.4.0
filelock==3.20.0
importlib-resources==6.4.0
iniconfig==2.3.0
isort==6.1.0
jsonschema==4.25.1
mypy==1.19.1
mypy-extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
platformdirs==4.5.1
pluggy==1.6.0
prompt-toolkit==3.0.52
pycodestyle==2.9.0
pydantic==2.12.5
pygments==2.19.2
pylint==3.3.9
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
pytest==8.2.0
pytest-django==4.11.1
pyyaml==6.0.3
tomli==2.0.2
tox==4.32.0
typing-extensions==4.15.0
virtualenv==20.35.4
wrapt==2.0.1
yarl==1.22.0
zipp==3.23.0
